/* MEDIA QUERYS*/

body{
	background-color: blue;
}
h1{
	text-align: right;
}


@media screen and (min-width: 700px) {
	body{background-color: orange;}
	

@media screen and (min-width: 1000px) {
	body{background-color: red;}
	
}

/* grid template column PROPIEDADES DE GRID CONTAINER*/

.g-cont{
	display: grid;
	background-color: pink;
	grid-template-columns: 25% 25% 25% 25%; /* define la cantidad de columnas y su ancho*/
	grid-template-columns: repeat(3,auto); /* establece ambos valores de cantidad y ancho pero de otra manera*/
	grid-template-rows: 300px auto 200px;
}
.g-cont div{
	background-color: black; border:solid 1px;
	color: white;
	padding: 1.5em;
	text-align: center;
}

/*grid template row*/
.g-cont2{
	display: grid;
	grid-template-rows: 50px 100px 200px; /*definimos la altura de las filas*/
	background-color: pink;
	grid-template-columns: repeat(3,auto);

}

.g-cont2 div{
	background-color: blue; border:solid 1px;
	color: white;
	padding: 1.5em;
	text-align: center;

}

/*grid-column-gap y grid-row-gap*/


.g-cont3{
	display: grid;
	grid-template-rows: repeat(3,150px);
	background-color: pink;
	grid-template-columns: repeat(3,auto);
	grid-column-gap:1em; /*define espacio o margin entre los elementos*/
	grid-row-gap: 1em; /*define espacio o margin entre las filas*/
	grid-gap: 1em 2em; /*shorthand de column-gap + row-gap*/
}

.g-cont3 div{
	background-color: orange; border:solid 1px;
	color: white;
	padding: 1.5em;
	text-align: center;
}

/*grid-Justify-Content y align-content*/

.g-cont4{
	display: grid;
	grid-template-rows: repeat(3,200px);
	background-color: pink;
	grid-template-columns: repeat(3,150px);
	justify-content: space-evenly;/*acepta los mismos parametros que flexbox*/
	align-content: space-between;  

	
}

.g-cont4 div{
	background-color: brown; border:solid 1px;
	color: white;
	padding: 1.5em;
	text-align: center;
}