.navbar{
background: #333;
overflow: hidden;

}
.navbar a{
	float: left;
	text-decoration: none;
	font-size: 1em;
	font-family: Helvetica, sans-serif;
	color: white;
	background: #333;
	padding: 15px 25px;
	
}

.navbar a:hover{
	background-color: orange;
	color: #333;
}

.desplegable{
	overflow: hidden;
	float: left;
}
.desplegable .btn{
	font-size: 1em;
	font-family: Helvetica, sans-serif;
	color: white;
	background-color: #333;
	padding: 15px 25px;
	border:0;

}
.desplegable .btn:hover{
	background: orange;
	color: #333;
}
.submenu{
	display: none;
	position: absolute;
	min-height: 140px;
	z-index: 2;

}

.desplegable:hover .submenu {
	display: block;
}
.submenu a{
	float: none;
	display:block;
}